.loginPage{
  background: linear-gradient(to bottom, #FFFFFF, #d6e0f6);;
  width: 100vw;
  height: 100vh;
  .loginForm{
    width: 400px;
    padding: 0 0 30px 0;
    background: linear-gradient(to bottom, #a6d2ea, #bbf5d9);
    border-radius: 15px;
    box-shadow: 0 0 5px 0 #999999
  }
}