.customRange {
  input {
    text-align: center;
  }
}

.minFormWidth {
  min-width: 1250px;
}

.buttonSpace {
  margin-right: 10px;
}

.drawerItemSpace {
  margin-bottom: 10px;
}

.bottomButton {
  text-align: right;
  padding: 5px;
}

.textForm {
  width: 236px;
}

.minCollapseWidth {
  min-width: 988px;
}

.disabledColor{
  color: #000 !important;
}

.centerHead :global .ant-table-thead > tr > th,
.centerHead :global .ant-table-tbody > tr > td{
  text-align: center;
}


